<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shop</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
    <header>
        <nav class="navabar" id="navbar">
            <ul>
                <li><a href="/shop">Shop</a></li>
                <li><a href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>

    <main>
       <h2>My Products</h2>
       <p>List of all my products</p>
       <ul>
           <li>None</li>
       </ul>
    </main>
</body>
</html>